/*
 * Written by David Myers
 * davidmyers9000@gmail.com
 */

@import url(http://fonts.googleapis.com/css?family=Advent+Pro:400,100);

article {
	padding-bottom:80px;
}

.well {
	background-color:#303030;
	padding-bottom:0px;
}

.well h1 {
	color:#fff
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Advent Pro', sans-serif;
}

h4 {
	line-height: 1.5em;
}

p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}

#container{
	margin: 0px auto;
}

#greeting {
	margin-bottom:100px;
}

	#prof-pic {
		margin-top: 60px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 40px;
		background: url(../img/profile.png) no-repeat;
		background-size: contain;
		max-width: 463px;
		height: 252px;
	}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
 
	#prof-pic{
		 background: top left url(../img/profile_@2X.png) no-repeat;
		 background-size: contain;
	}
}

